    .dialogStreet {
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .dialogCity {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
    
    mat-progress-bar {
        position: absolute;
        top: 0px;
    }