.mat-drawer-container {
    height: 100vh;
}

.menu {
    cursor: pointer;
    margin: 0;
}

mat-toolbar-row,
mat-toolbar {
    min-height: 56px;
    height: 56px;
}

.sidenav {
    width: 300px;
}

.sidenav-content button {
    padding: 0;
    margin-left: -10px;
    margin-right: 10px;
}

.logo-container {
    height: 54px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-bottom: 1px solid white;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        width: 100%;
        height: 48px;
        padding-left: 16px;
        gap: 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: #595959;
        }
    }
    p {
        margin: 0;
    }
}

.router-container {
    padding-left: 56px;
    padding-top: 16px;
}