<mat-card class="userCardContainer">
    <img src="./assets/img/man.png">
    <div class="userDetails">
        <h1>{{ user.firstName }} {{ user.lastName }}</h1>
        <span>{{ user.email }}</span>
        <!-- <span>{{ user.birthDate }}</span> -->
    </div>
</mat-card>

<mat-card>
    <mat-card-header class="userAddress">
        <button mat-icon-button class="changeButton" (click)="openAddressDialog()">
            <mat-icon>more_vert</mat-icon>
          </button>
        <mat-card-title>
            <h2>Address:</h2>
        </mat-card-title>
        <mat-card-content>
            <span> {{ user.street }}</span>
            <span> {{ user.zipCode }} {{ user.city }}</span>
        </mat-card-content>
    </mat-card-header>
</mat-card>